:root {
    --green-color: #01723a;
    --grey-color: #f1f1f1;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url('../resources/background.png');
    background-attachment: fixed;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

#main-header {
    top: 0;
    overflow: hidden;
    background-color: var(--green-color);
}

#main-header h1 {
    color: white;
}

#navbar {
    top: 0;
    background-color: var(--grey-color);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#navbar li {
    display: inline;
}

#navbar a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#navbar a:hover {
    background-color: var(--green-color);
    color: white;
}

section:before,
footer:before {
    content: "";
    display: block;
    height: 110px;
    /* fixed header height*/
    margin: -110px 0 0;
    /* negative fixed header height */
}

.main {
    margin-top: 150px;
}

.active {
    background-color: var(--green-color);
    color: white !important;
}

#showcase h1 {
    font-size: 40px;
}