:root {
    --green-color: #01723a;
    --grey-color: #f1f1f1;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url('../resources/background.png');
    background-attachment: fixed;
    margin: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--green-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: var(--green-color) 2px solid;
}

.wrapper {
    display: grid;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

#main-header {
    top: 0;
    overflow: hidden;
    background-color: var(--green-color);
}

#main-header h1 {
    width: 80%;
    margin: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar {
    top: 0;
    background-color: var(--grey-color);
}

#navbar ul {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    display: inline;
}

#navbar a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#navbar a:hover {
    background-color: var(--green-color);
    color: white;
}

section:before,
footer:before {
    content: "";
    display: block;
    height: 120px;
    /* fixed header height*/
    margin: -120px 0 0;
    /* negative fixed header height */
}

.main {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 150px;
}

.active {
    background-color: var(--green-color);
    color: white !important;
}

.vertical-box {
    margin-top: 50px;
    display: grid;
    grid-template-areas: "picture motto";
}

#showcase {
    margin-top: 50px;
}

#showcase h1 {
    font-size: 40px;
}

.picture {
    grid-area: picture;
    padding-top: 30px;
}

.motto {
    grid-area: motto;
}

#offer h1 {
    text-align: center;
    font-size: 30px;
}

.box-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    padding: 30px;
    border: var(--green-color) 2px dashed;
}

.box p.info {
    display: none;
}

section {
    display: block;
    margin: 20px 0;
}

#staff {
    padding-top: 30px;
}

#staff h1 {
    font-size: 30px;
}

.card-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.card img {
    max-width: 50%;
    border-radius: 50%;
}

.card h3 {
    color: var(--green-color);
}

.card p {
    font-style: italic;
}

.card:hover {
    opacity: 0.8;
}

.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #ccc;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-bottom: #ccc 4px solid;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.tab-active {
    background-color: var(--grey-color);
    color: var(--green-color);
    font-weight: bold;
    border-bottom-color: var(--green-color);
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: var(--green-color);
    color: white;
    border-top: none;
    height: 250px;
}